<div class="modal">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
  			<h4>{{header_message}}</h4>
  		</div>
  		<div class="modal-body">

  			<div class="header-label">Name</div>
  			<div class="header-value">
	  			<input  class="form-control" type="text" ng-model="row.Name" />
	  		</div>

	  		<div class="header-label">Description</div>
  			<div class="header-value">
	  			<textarea class="form-control" ng-model="row.Description" ></textarea>
	  		</div>

	  		<div class="header-label">Serial Number</div>
  			<div class="header-value">
	  			<input  class="form-control" type="text" ng-model="row.SerialNumber" />
	  		</div>

	  		<div class="header-label">Manufacturer</div>
  			<div class="header-value">
	  			<input  class="form-control" type="text" ng-model="row.Manufacturer" />
	  		</div>

  			<div class="header-label">Instrument Type</div>
	  		<div class="header-value">
	  				<select class="form-control" ng-model="row.InstrumentTypeId" ng-options="t.Id as t.Name for t in InstrumentTypes">
	  				</select>
					
			</div>


  			<div class="header-label">Purchase Date</div>
  			<div class="header-value">
	  				<input class="form-control" type="text" datepicker-popup="longDate" ng-model="row.PurchaseDate" is-open="aopened" min="'2000-01-01'" max="'2015-06-22'" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
	  		</div>

	  		<div class="header-label">Entered Service Date</div>
  			<div class="header-value">
	  				<input  class="form-control" type="text" datepicker-popup="longDate" ng-model="row.EnteredService" is-open="bopened" min="'2000-01-01'" max="'2015-06-22'" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
	  		</div>
  		
  			<div class="header-label">Ended Service Date</div>
  			<div class="header-value">
	  				<input  class="form-control" type="text" datepicker-popup="longDate" ng-model="row.EndedService" is-open="copened" min="'2000-01-01'" max="'2015-06-22'" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
	  		</div>

			<div class="header-label">Instrument Status</div>
	  		<div class="header-value">
	  				<select class="form-control" ng-model="row.StatusId">
	  					<option value="0">Active</option>
	  					<option value="1">Inactive</option>
	  				</select>
					
			</div>

  		
  		</div>
		<div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>

  </div>
</div>
