<div class="modal">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
            <h3>Export data</h3>
            Name the file and format you want to save your data to:
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="modal-body">
			Filename: <input type="text" >

            <select>
                <option>Excel</option>
                <option>CSV</option>
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    </div>
</div>    
