    <div class="add-file">
            <form class="custom" id="add-file">

            <h4>Add a new document</h4>

     
                <div class="row">
                  <div class="large-6 columns">
                    <label>Title</label>
                    <input type="text" value="">
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Description:</label>
                    <textarea ></textarea>
                  </div>
                </div>

                 <div class="row">
                  <div class="large-6 columns">
              <label for="fileType">File Type</label>
              <select id="fileType" class="medium">
                <option selected>-- Select --</option>
                <option>PDF</option>
                <option>MS Word</option>
                <option>MS Excel</option>
                <option>Powerpoint</option>
              </select>
              </div>

                 </div>

                 <div class="row">
                
                 <div class="large-10 columns">
                    <label>Upload:</label>
                    <input type="file" id="imageUpload" size="20" />
                    <button type="submit" class="button">Save</button>
                 </div>
                 </div>

            </form>

</div>