    <div class="add-file">
            <form class="custom" id="add-file">

            <h4>Add a new document</h4>

     
                <div class="row">
                  <div class="large-6 columns">
                    <label>Title</label>
                    <input type="text" value="">
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Description:</label>
                    <textarea ></textarea>
                  </div>
                </div>

               <div class="row">
 
                 <div class="large-8 columns">
                    <label>Upload:</label>
                    <input type="file" id="imageUpload" size="20" />
                    <button type="submit" class="button">Save</button>
                 </div>

                 <div class="large-4 columns">
                 <div class="preview">
					<img id="thumb" width="100px" height="100px"  />
				</div>
                 </div>

                 </div>



            </form>

</div>