    <div class="edit-project">
            <form class="custom">

            <h3>Project: Meacham Creek Restoration</h3>

     <div class="section-container tabs" data-section>

      <section class="section">
        <p class="title top-rounded"><a href="#panel1">Settings</a></p>
            <div class="content">

           

                <div class="row">
                  <div class="large-6 columns">
                    <label>Name</label>
                    <input type="text" placeholder="large-4.columns" value="Meacham Creek Restoration">
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Description:</label>
                    <textarea placeholder="small-8.columns">Monitor flow rates between various strategic points along Meacham creek.</textarea>
                  </div>
                </div>

                 <div class="row">
                  <div class="large-6 columns">
              <label for="projectType"><span data-tooltip class="has-tip" title="The type determines this project's attributes.">Project Type</span></label>
              <select id="projectType" class="medium">
                <option>-- Select --</option>
                <option>Water</option>
                <option>Fisheries: RM&E</option>
                <option>Fisheries: O&M</option>
                <option selected>Fisheries: Habitat</option>
                <option>Fisheries: Artificial Production</option>
                <option>Fisheries: Harvest</option>
                <option>Wildlife</option>
                <option>RAF: Range</option>
                <option>RAF: Agriculture</option>
                <option>RAF: Forestry</option>
                <option>First Foods Policy</option>
                <option>CRPP</option>
                <option>Outreach</option>
              </select>
              </div></div>


            </div>
        </section>







        <section class="section">
            <p class="title top-rounded"><a href="#panel2">Details</a></p>
            <div class="content">

             <div class="row">
                  <div class="large-12 columns">
                    <label>Project Statement/Goal:</label>
                    <textarea rows="10" placeholder="small-8.columns">Protect, enhance, and restore functional floodplain, channel, and watershed processes to provide sustainable and healthy habitat for aquatic species of the First Food order.</textarea>
                  </div>
                </div>

               

                <div class="row">
                  <div class="large-12 columns">
                    <label><span data-tooltip class="has-tip" title="Specific products this project will create. Separate each output on a new line.">Outputs:</span> (specific 6 month accomplishments)</label>
                    <textarea placeholder="large-12.columns">Completed construction and 2011 plantings of the Meacham Creek Floodplain Restoration and In-stream Enhancement Project.
Implemented a Geomorphic-Hyporheic Flow Study on Meacham Creek.
Maintained and enhanced riparian conservation easement properties through tree planting, watering and noxious weed control.
Completed 100% design of the West Birch Creek Low Dam Removal and Habitat Restoration Project.
Completed 90% design of the Birch Creek Taylor Multiple Dam Removal and Habitat Restoration Project.
</textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Inputs - <span data-tooltip class="has-tip" title="Specific monetary resources this project will require. Separate each element on a new line.">Funding</span>:</label>
                    <textarea placeholder="small-8.columns">BPA: $1,667,618
 EPA: $146,903
 PCSRF: $54,295</textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Inputs - <span data-tooltip class="has-tip" title="Specific human resources this project will require. Separate each element on a new line.">Staff</span>:</label>
                    <textarea placeholder="small-8.columns">Michael Lambert (Biologist)
 Randy Bonifer
 Larry Allen</textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Inputs - <span data-tooltip class="has-tip" title="Specific external resources this project will require.">Collaborators:</span></label>
                    <textarea placeholder="small-8.columns">USFS, UBWC, ODFW, SWCD, NRCS, UPRR, EPA, USFWS, NOAA</textarea>
                  </div>
                </div>

                <div class="row">
                <div class="large-6 columns">
                 <label for="projectBasin"><span data-tooltip class="has-tip" title="Basin this project is in.">Basin/Sub-basin</span></label>
                  <select id="basin" class="medium">
                    <option selected>Umatilla</option>
                    <option>John Day</option>
                    <option>Walla Walla</option>
                  </select>
              </div></div>


                <div class="row">
                  <div class="large-6 columns">
                  <label>First Foods</label>
                   <select multiple="true" name="multiselect" >
                      <option value="Salmon">Salmon</option>
                      <option value="Water" selected="selected">Water</option>
                      <option value="Deer" selected="selected">Deer</option>
                      <option value="Cous">Cous</option>
                      <option value="Huckleberry">Huckleberry</option>
                 </select>

                  </div>
                </div>

                <div class="row">
                  <div class="large-6 columns">
                  <label>River Vision Touchstone</label>
                   <select multiple="true" name="multiselect" >
                      <option value="1">Riparian Vegetation</option>
                      <option value="2" selected="selected">Connectivity</option>
                      <option value="3" selected="selected">Geomorphology</option>
                      <option value="4">Hydrology</option>
                 </select>

                  </div>
                </div>

                 <div class="row">
                  <div class="large-12 columns">
                    <label><span data-tooltip class="has-tip" title="Specific accomplishments this project will attain. Separate each objective on a new line.">Project Objectives Description</span></label>
                    <textarea placeholder="small-8.columns">Plan, design and implement 2011 and upcoming 2012 projects to address limiting factors for key aquatic species
Maintain existing project locations and easements
Complete quarterly and annual progress reports
Monitor implemented projects
</textarea>
                  </div>
                </div>


                  <div class="row">
                  <div class="large-6 columns">
                  <label>Project Objectives</label>
                   <select multiple="true" name="multiselect" >
                      <option value="1">Increase Connectivity</option>
                      <option value="2" selected="selected">Enhance diversity</option>
                      <option value="3" selected="selected">Reduce sediment</option>
                      <option value="4">Decrease temperature</option>
                      <option value="5">Habitat restoration</option>
                 </select>

                  </div>
                </div>

                   <div class="row">
                  <div class="large-6 columns">
                  <label>Ecological Concern</label>
                   <select multiple="true" name="multiselect" >
                      <option value="1" selected="selected">Riparian Condition</option>
                      <option value="2" >LWD Recruitment</option>
                      <option value="3">Floodplain Condition</option>
                      <option value="4">Temperature</option>
                      
                 </select>

                  </div>
                </div>


            </div>
        </section>

        </div>


              <div class="dijitDialogPaneActionBar" style="width: 100%;">
                    <button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){SaveProject();}" id="save">Save</button>
                    <button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){CloseEditProjectDialog();}"
                            id="cancel">Cancel</button>
              </div>

            </form>

</div>