
    <div id="edit-project-page" class="edit-project">
            <form class="custom" id="new-project" data-dojo-type="dojox/form/Manager">


              <div class="dijitDialogPaneActionBar" style="width: 100%;">
                    <button data-dojo-type="dijit/form/Button" type="button" onClick="SaveProject();" id="save">Save</button>
                    <button data-dojo-type="dijit/form/Button" type="button" onClick="CloseEditProjectDialog();"
                            id="cancel">Cancel</button>
              </div>

            </form>

</div>