
    <div id="edit-project-page" class="edit-project">
            <form class="custom" id="new-project" data-dojo-type="dojox/form/Manager">

     <div class="section-container tabs" data-section>

      <section class="section">
        <p class="title top-rounded"><a href="#panel1">Settings</a></p>
            <div class="content">

                <input type="hidden" name="Id" value="${Id}" />
                <input type="hidden" name="ProjectTypeId" value="${ProjectTypeId}" />

                <div class="row ptEditField ptNameTextBox">
                  <div class="large-10 columns">
                    <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Name of the Program/Subprogram or the Project">Program/Project Name:</span></label>
                    <input type="text" style="width: 35em;" name="Name" value="${Name}" required="true" placeholder="Project Name/Title" data-dojo-type="dijit/form/ValidationTextBox" missingMessage="Please give your project a name." >
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="One to two short sentences to convey the value of your program/project.">Description/Mission:</span></label>
                    <textarea name="Description">${Description}</textarea>
                  </div>
                </div>
                
                <div class="row ptEditField" >
	                <div class="large-6 columns">
		                <label><span data-tooltip class="has-tip" title="Which DNR Program does this belong to?">Program:</span></label><div id="program-select"></div>
	                </div>
                </div>

                <div class="row ptEditField" >
	                <div class="large-6 columns">
		                <label><span data-tooltip class="has-tip" title="Which DNR Sub-program does this belong to?">Sub-program:</span></label><div id="subprogram-select"></div>
	                </div>
                </div>

                
                <div class="row ptEditField">
                  <div class="large-6 columns">
                    <label><span data-tooltip class="has-tip" title="This applies only to habitat projects that have defined start and end dates">Project Start Date:</span></label>
                    <input type="text" id="StartDate" name="StartDate" value="${StartDate}" data-dojo-type="dijit/form/DateTextBox" >
                  </div>
                </div>


                  <div class="row ptEditField">
                  <div class="large-6 columns">
                    <label><span data-tooltip class="has-tip" title="This applies only to habitat projects that have defined start and end dates">Project End Date:</span></label>
                    <input type="text" id="EndDate" name="EndDate" value="${EndDate}" data-dojo-type="dijit/form/DateTextBox"  >
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-4 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="This the 6 month period the Quad Report applies to and will be displayed in the Quad Report heading">Period Description:</span></label>
                    <input type="text" name="metadata_22" value="${metadata_22}">
                  </div>
                </div>

<div id="program-fields" class="hidden">
                <div class="row ptEditField">
                  <div class="large-4 columns">
                    <label><span data-tooltip class="has-tip" title="Enter the BPA Contract Number, if applicable.">BPA Contract Number:</span></label>
                    <input type="text" name="metadata_16" value="${metadata_16}">
                  </div>
                </div>
</div>
            </div>
        </section>







        <section class="section">
            <p class="title top-rounded"><a href="#panel2">Details</a></p>
            <div class="content">

             <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Quad Report Requirement">Program/Project Statement/Goal</span></label>
                    <textarea rows="10" name="metadata_9">${metadata_9}</textarea>
                  </div>
                </div>

                  <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Quad Report Requirement">Program/Project Objectives:</span></label>
                    <textarea rows="10" name="metadata_20">${metadata_20}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Quad Report Requirement - Specific products this project will create. Separate each output on a new line.">Outputs:</span> (specific 6 month accomplishments)</label>
                    <textarea name="metadata_1">${metadata_1}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Quad Report Requirement - Progress and trends resulting from outputs. Separate each outcome on a new line.">Outcomes</span></label>
                    <textarea name="metadata_14">${metadata_14}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="Quad Report Requirement - Given the long-term accomplishments and vision of this Program/Project what does it give back to the tribal community?  Separate each impact on a new line.">Impacts</span></label>
                    <textarea name="metadata_15">${metadata_15}</textarea>
                  </div>
                </div>


                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="">Inputs - <span data-tooltip class="has-tip" title="Quad Report Requirement - Specific monetary resources this project will require. Separate each element on a new line.">Funding</span>:</label>
                    <textarea name="metadata_3">${metadata_3}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="">Inputs - <span data-tooltip class="has-tip" title="Quad Report Requirement - Specific human resources this project will require. Separate each element on a new line.">Staff</span>:</label>
                    <textarea name="metadata_4">${metadata_4}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-12 columns">
                  <div title="Appears on Quad Report" class="quad-report"></div>
                    <label><span data-tooltip class="has-tip" title="">Inputs - <span data-tooltip class="has-tip" title="Quad Report Requirement - Specific external resources this project will require.">Collaborators:</span></label>
                    <textarea name="metadata_5">${metadata_5}</textarea>
                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-6 columns">

                  <label><span data-tooltip class="has-tip" title="Which First Foods does this Program/Project address?">First Foods</span></label>
                  
                <div class="metadata-multiselect" id="select-metadata-6"></div>
         
<div id="fisheries-fields" class="hidden">
                <div class="row ptEditField">
                <div class="large-6 columns">
                 <label for="metadata_7"><span data-tooltip class="has-tip" title="What basin this project is in?">Basin/Sub-basin</span></label>
                  <div class="metadata-multiselect" id="select-metadata-7"></div>
              </div></div>
</div>

                   

                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-6 columns">
                  <label><span data-tooltip class="has-tip" title="Which River Vision Touchstone(s) does this Program/Project address?">River Vision Touchstone</span></label>
                   <div class="metadata-multiselect" id="select-metadata-8"></div>

                  </div>
                </div>

<div id="habitat-fields" class="hidden">

                <div class="row ptEditField">
                  <div class="large-6 columns">
                  <label><span data-tooltip class="has-tip" title="">Habitat Objectives</span></label>
                   <div class="metadata-multiselect" id="select-metadata-10"></div>

                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-6 columns">
                  <label><span data-tooltip class="has-tip" title="">Limiting Factors</span></label>
                   <div class="metadata-multiselect" id="select-metadata-21"></div>

                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-6 columns">
                  <label><span data-tooltip class="has-tip" title="">NOAA Ecological Concerns</span></label>
                   <div class="metadata-multiselect" id="select-metadata-19"></div>

                  </div>
                </div>

                <div class="row ptEditField">
                  <div class="large-6 columns">
                  <label><span data-tooltip class="has-tip" title="">NOAA Ecological Sub-Concerns</span></label>
                   <div class="metadata-multiselect" id="select-metadata-18"></div>

                  </div>
                </div>
</div>
                 
            </div>
        </section>

        </div>


              <div class="dijitDialogPaneActionBar">
              <div class="dijitButtonsGroup">
                    <button data-dojo-type="dijit/form/Button" type="button" onClick="SaveProject();" id="save">Save</button>
                    <button data-dojo-type="dijit/form/Button" type="button" onClick="CloseEditProjectDialog();"
                            id="cancel">Cancel</button>
              </div>
              </div>

            </form>

</div>