<div class="row">
    <div class="large-16 columns">
     
     <h3>${Name}</h3>
     <p>${Description}</p>

    <div class="section-container tabs" data-section>

  <section class="section">
    <p class="title top-rounded"><a href="#panel1">Summary</a></p>
    <div class="content">
    <div class="project-details">
          <div class="project-details-toolbar">
            <div title="Mark as 'Favorite' Project" id="tool-favoriteproject" class="project-tool"><a href='#' onClick="favoriteProject();"><img class="on" src='images/favorite-on.png'/><img class="off" src='images/favorite-off.png'/></a></div>
            <div title="Print" class="project-tool"><a class="project-tool" href="#"><img src="/jsdemo/images/tool-print.png" /></a></div>
            <div title="Edit Project" class="project-tool"><a class="project-tool" href="#"><img src="/jsdemo/images/tool-edit.png" /></a></div>
          </div>
          <div class="panel">
                <div class="row">
                  <div class="large-6 columns project-details-side1">
                    <h5>Project Statement/Goal:</h5>
                    <p>md</p>

                    <h5>Project Objectives:</h5>
                    <ol>
                    <li>Catch fish with a weir</li>
                    <li>Track fish data</li>
                    </ol>

                    <h5>Outputs: (specific 6 month accomplishments)</h5>
                    <ul>
                        <li>Output info</li>
                    </ul>

                  </div>

                  <div class="large-6 columns project-details-side2">
                        <h5>Project Inputs:</h5>
                        <table class="foundation">
                            <tr>
                                <td>Funding:</td>
                                <td>
                                    BPA: $1,667,618<br />
                                    EPA: $146,903<br/>
                                    PCSRF: $54,295<br />
                                </td>
                            </tr>
                            <tr>
                                <td>Staff:</td>
                                <td>
                                    Mike McLane<br />
                                </td>
                            </tr>
                            <tr>
                                <td>Collaborators:</td>
                                <td>USFS, UBWC, ODFW, SWCD, NRCS, UPRR, EPA, USFWS, NOAA</td>
                            </tr>
                        </table>

                        <ul class="clearing-thumbs" data-clearing>
                          <li><a href="gallery.html"><img src="images/mc1_th.png"></a></li>
                          <li><a href="gallery.html"><img src="images/mc2_th.png"></a></li>
                          <li><a href="gallery.html"><img src="images/mc3_th.png"></a></li>
                          <li><a href="gallery.html"><img src="images/mc4_th.png"></a></li>

                        </ul>
                        
                            
                    </div>
                </div>
          </div>
    
    </div>
    </div>
    </section>

       <section class="section">
        <p class="title top-rounded"><a href="#panel5">Data</a></p>
    <div class="content">
        <div id="project-data-container" class="project-data-container">
          <div class="project-details-toolbar">
              <div title="Add Data" class="project-tool"><a class="project-tool" href="#"><img src="/jsdemo/images/tool-add.png" /></a></div>
          </div>

          <div class="row">
            <div class="large-12 columns">
                <div class="project-select-dataset-container">
                    <select id='selectDataset' onchange='selectDataset();'>
                        <option value="">-- Select dataset to view --</option>
                        <option selected value="13774">Adult Weir Dataset</option>
                     </select>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="project-locations-container">
                    <div id="project-locations"></div>
                </div>
            </div>
            <div class="large-8 columns">
                <div id="project-data" class="hscroll-dgrid"></div>
            </div>
          </div>
          
        </div>
    </div>


    </section>
   

    <section class="section">
        <p class="title top-rounded"><a href="#panel5">Gallery</a></p>
    <div class="content">
        <div class="project-photos">
        <div class="project-details-toolbar">
              <div title="Add Photo" class="project-tool"><a class="project-tool" href="#"><img src="/jsdemo/images/tool-add.png" /></a></div>
          </div>
            <div class="detail-search">
                <input id="search-gallery"><a href="#" id="search-gallery-icon" onclick="searchProjectGallery();"><img src="images/search-sm.png" /></a>
            </div>
            <div id="gallery"></div>
        </div>
    </div>


    </section>
    
    
    <section class="section">
    <p class="title top-rounded"><a href="#panel4">Details</a></p>
        <div class="content">
          <div class="project-details-toolbar">
              <div title="Edit" class="project-tool"><a class="project-tool" href="#"><img src="/jsdemo/images/tool-edit.png" /></a></div>
          </div>
            <div class="row">
              <div class="large-10 columns">
              
                <div class="project-attributes">
                    <table class="foundation metadata">
                      <tbody>
                      <tr>
                         <td class="metadata-field" style="width: 200px;">Project Type</td>
                         <td class="metadata-value">Fisheries: Harvest</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Description</td>
                         <td class="metadata-value">Protect, enhance and restore functional floodplain, channel and watershed processes.</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Outputs</td>
                         <td class="metadata-value">Completed construction and 2011 plantings of the Meacham Creek Floodplain Restoration and In-stream Enhancement Project.
                            Implemented a Geomorphic-Hyporheic Flow Study on Meacham Creek.
                            Maintained and enhanced riparian conservation easement properties through tree planting, watering and noxious weed control.
                            Completed 100% design of the West Birch Creek Low Dam Removal and Habitat Restoration Project.
                            Completed 90% design of the Birch Creek Taylor Multiple Dam Removal and Habitat Restoration Project.
                            </td>
                        </tr>
                      <tr>
                         <td class="metadata-field">Inputs: Funding</td>
                         <td class="metadata-value">BPA: $1,667,618<br />EPA: $146,903<br />PCSRF: $54,295</td>
                        </tr>
                      <tr>
                         <td class="metadata-field">Inputs: Staff</td>
                         <td class="metadata-value">Michael Lambert (Biologist)<br />Randy Bonifer<br />Larry Allen</td>
                        </tr>
                      <tr>
                         <td class="metadata-field">Inputs: Collaborators</td>
                         <td class="metadata-value">USFS, UBWC, ODFW, SWCD, NRCS, UPRR, EPA, USFWS, NOAA</td>
                        </tr>


                        <tr>
                         <td class="metadata-field">First Foods</td>
                         <td class="metadata-value">Water<br />Salmon<br />Deer</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">River Vision Touchstone</td>
                         <td class="metadata-value"><span title="Protect and increase presence of Riparian Vegitation.">Riparian Vegetation</span><br />
                                                    <span title="Increase connectivity between streams.">Connectivity</span><br />
                                                    <span title="Improve diversity of geomorphology.">Geomorphology</span><br />
                                                    <span title="Increase the rate of flow between navigable features.">Hydrology</span></td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Project Objectives Description</td>
                         <td class="metadata-value">Plan, design and implement 2011 and upcoming 2012 projects to address limiting factors for key aquatic species
                            Maintain existing project locations and easements
                            Complete quarterly and annual progress reports
                            Monitor implemented projects
                            </td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Project Objectives</td>
                         <td class="metadata-value">Increase connectivity<br />Enhance diversity<br />Reduce sediment<br />Decrease temperature</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Ecological Concern</td>
                         <td class="metadata-value">Riparian Condition<br />LWD Recruitment<br />Floodplain Condition<br />Temperature</td>
                        </tr>
                        <tr>
                         <td class="metadata-field">Basin</td>
                         <td class="metadata-value">Umatilla</td>
                        </tr>
            
                       </tbody>
                    
                    </table>
              
            
                  

                    <br /><br />


                </div>
              </div>
          </div>
        </div>
    </section>


     <section class="section">
    <p class="title top-rounded"><a href="#panel5">Documents</a></p>
    <div class="content">
        <div class="project-files">
            <div class="project-details-toolbar">
              <div title="Add File" class="project-tool"><a onclick="OpenAddFile();" class="project-tool" href="#"><img src="/jsdemo/images/tool-add.png" /></a></div>
          </div>

            <div class="detail-search">
                <input id="search-docs"><a id="search-docs-icon" href="#" onclick="searchProjectFiles();"><img src="images/search-sm.png" /></a>
            </div>
            
            <div id="docs-grid"></div>

                
                    
        </div>
    </div>
    </section>

    </div>
    


    </div>
</div>
