<div id="view-project-page">
<div class="row" >
    <div class="large-2 columns">
        <div class="flag-div"><img width="190" src="/jsdemo/images/flag.jpg" /></div>
    </div>
    <div class="large-8 columns">
    <center>
            <h3>Confederated Tribes of the Umatilla Indian Reservation</h3>
            <h3>Department of Natural Resources Semiannual Report</h3>
            <h1>Project: ${Name}</h1>
            <h4>Period: ${metadata_22}</h4>
        </center>
    </div>
    <div class="large-2 columns">
        <div class="map-image-div"><img id="basin-graphic" height="135" src="/jsdemo/images/default_map.png" /></div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <h5>Project Statement/Goal:</h5>
        <p>${metadata_9}</p>

        <h5 style="padding-top: 2px;">Project Objectives:</h5>
        <p>${metadata_20}</p>

        <div class="panel">
            <h5>Outputs: (specific 6 month accomplishments)</h5>
            <p id="outputs">${metadata_1}</p>
        </div>

        <div class="panel">
            <h5>Outcomes (progress and trends resulting from outputs)</h5>
            <p id="outcomes">${metadata_14}</p>
        </div>

        <div class="panel">
            <h5>Impacts (long-term accomplishments and vision)</h5>
            <p id="impacts">${metadata_15}</p>
        </div>
    </div>


      <div class="large-6 columns">  
        <h5>Project Inputs:</h5>
        <table class="foundation">
            <tr>
                <td class="td-header">Funding:</td>
                <td>
                    ${metadata_3}
                </td>
            </tr>
            <tr>
                <td class="td-header">Staff:</td>
                <td>
                    ${metadata_4}
                </td>
            </tr>
            <tr>
                <td class="td-header">Collaborators:</td>
                <td>${metadata_5}</td>
            </tr>
        </table>
                            

       <div id="image-box"><center>${metadata_13}</center></div>

    
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <center>
            <div id="ctuir-footer">(C) 2013 - Confederated Tribes of the Umatilla Indian Reservation.</div>
        </center>
    </div>
</div>

 
</div>